<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <div class="list-group list-group-flush">
      <a href="#" class="list-group-item list-group-item-action">How can i help you with?</a>
      <a href="#" class="list-group-item list-group-item-action">What is your problem?</a>
      <a href="#" class="list-group-item list-group-item-action">Any solutions needed?</a>
    </div>
</body>
</html>
